span{
    float: right;
}

.adopted-text {
    margin-top: 10%;
    background-color: rgba(96, 105, 223, 0.9); /* Fondo naranja con opacidad */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    z-index: 100;
}