<app-header></app-header>
<div id="detalles" class="container-fluid">
    <div class="row align-items-center justify-content-center">
        <div class="col-8 order-2 order-md-1 col-md-4 col-lg-3 pt-3">
          <h1 class="titulo1 text-center">{{gato.nombre}}</h1>
          <div class="rounded color3 p-2">
            <h5>Edad: {{gato.edad}} </h5>
            <h5>Sexo: {{gato.sexo}}</h5>
            <h5>Color: {{gato.color}} </h5>
            <h5>Tipo de pelo: {{gato.tipoPelo}}</h5>
            <div *ngIf="!gato.padrino && gato.montoMensual">
              <h5>Apadrinamiento: {{gato.montoMensual}}</h5>
              <button type="button" class="btn btn-secondary"
              (click)="apadrinar(gato)"> APADRINAR </button>
            </div>
            <div *ngIf="gato.ficha">
              <h4>Ficha Veterinaria</h4>
              <h5>Antirrabica: {{gato.ficha.ultimaAntirrabica}} </h5>
              <h5>ultima Desparasitacion: {{gato.ficha.ultimaDesparasitacion}}</h5>
              <h5>Ultima triple felina: {{gato.ficha.ultimaTripleFelina}} </h5>
            </div>
          </div>
          <div class="row align-items-center justify-content-center">
            <div class="col-2 pt-3 text-center">
                <button type="button" class="btn btn-secondary" id="adoptar"
                (click)="adoptar(gato)">
                  ADOPTAR
                </button>
            </div>
        </div>

        </div>
        <div class="col-10 order-1 order-md-2 col-md-6 col-lg-6 pt-3 pl-5">
            <app-carousel [fotos]="gato.fotos"></app-carousel>
    </div>
</div>
<app-footer></app-footer>
