<div class="modal fade modal-lg" id="advModal" aria-hidden="true" aria-labelledby="advModalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="advModalLabel">¿En qué consiste?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        
            <p class="text-justify">Si adoptas a uno de nuestros gatos te lo entregaremos desparasitado tanto
                interna como externamente,
                y en algunos casos (cuando su edad lo permitan) con las vacunas correspondientes puestas y
                esterilizados. </p>
            <p class="text-justify">Así mismo se entregará la cartilla del animal, y un informe veterinario
                donde se indican todos los tratamientos en el caso de que hayan sido necesarios desde su recogida y
                entrada en GATSHAN.</p>

            <p>La persona que rellene el formulario debe ser mayor de edad.</p>

            <h5>Artículos básicos</h5>
            <p> Asegúrate de que tu nueva mascota tenga todos los elementos esenciales antes de llevarlo a casa.</p>
            <ul class="p-2 m-3">
                <li>Cama para tu gato</li>
                <li>Tazones de comida y agua</li>
                <li>Caja de arena con arena</li>
                <li>Rascador</li>
                <li>Caja transportadora</li>
            </ul>
            <p class="text-justify">El proceso de adopción comienza en el momento en que se rellena el siguiente
                formulario:</p>
        
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#adopcionModal" data-bs-toggle="modal">Siguiente</button>
        </div>
      </div>
    </div>
  </div>


<!--FORMULARIO ADIPCION-->
<div class="modal fade modal-lg" id="adopcionModal" tabindex="-1" aria-labelledby="adopcionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adopcionModalLabel"> Solicitar adopcion
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onReset()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="sendForm" (ngSubmit)="sendApplication()" class="m-3">
                    <div class="row pb-2">
                        <div class="form-group col-6">
                            <label for="nombre">Nombre </label>
                            <input type="text" name="nombre" class="form-control" id="nombre"
                            formControlName="nombre"
                            [ngClass]="{'is-invalid':submitted && f['nombre'].hasError('required') }">
                            <div *ngIf="submitted && f['nombre'].hasError('required')" class="invalid-feedback">
                                <div *ngIf="f['nombre'].hasError('required')">Nombre es requerido</div>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label for="apellido">Apellido </label>
                            <input type="text" name="apellido" class="form-control" id="apellido"
                            formControlName="apellido"
                            [ngClass]="{'is-invalid':submitted && f['apellido'].errors}">
                            <div *ngIf="submitted && f['apellido'].errors" class="invalid-feedback">
                                <div *ngIf="f['apellido'].errors">Apellido es requerido</div>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="form-group col-6">
                            <label for="dni">DNI</label>
                            <input type="text" name="dni" class="form-control" id="dni"
                            formControlName="dni"
                            [ngClass]="{'is-invalid':submitted && f['dni'].errors }">
                            <div *ngIf="submitted && f['dni'].errors" class="invalid-feedback">
                                <div *ngIf="f['dni'].errors">DNI es requerido</div>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label for="fechaNac">Fecha de nacimiento</label>
                            <input type="date" name="fechaNac" class="form-control" id="fechaNac"
                            formControlName="fechaNac"
                            [ngClass]="{'is-invalid':submitted && f['fechaNac'].errors }">
                            <div *ngIf="submitted && f['fechaNac'].errors" class="invalid-feedback">
                                <div *ngIf="f['fechaNac'].errors">Fecha es requerida</div>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="form-group col-6">
                            <label for="telefono">Telefono</label>
                            <input type="text" name="telefono" class="form-control" id="telefono"
                            formControlName="telefono"
                            [ngClass]="{'is-invalid':submitted && f['telefono'].errors }">
                            <div *ngIf="submitted && f['telefono'].errors" class="invalid-feedback">
                                <div *ngIf="f['telefono'].errors">Telefono es requerido</div>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label for="email">e-mail</label>
                            <input type="text" name="email" class="form-control" id="email"
                            formControlName="email"
                            [ngClass]="{'is-invalid':submitted && f['email'].errors }">
                            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                <div *ngIf="f['email'].errors">Email es requerido</div>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="form-group col-6">
                            <label for="domicilio">Domicilio</label>
                            <input type="text" name="domicilio" class="form-control" id="domicilio"
                            formControlName="domicilio"
                            [ngClass]="{'is-invalid':submitted && f['domicilio'].errors }">
                            <div *ngIf="submitted && f['domicilio'].errors" class="invalid-feedback">
                                <div *ngIf="f['domicilio'].errors">Domicilio es requerido</div>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label for="localidad">Localidad</label>
                            <input type="text" name="localidad" class="form-control" id="localidad"
                            formControlName="localidad"
                            [ngClass]="{'is-invalid':submitted && f['localidad'].errors }">
                            <div *ngIf="submitted && f['localidad'].errors" class="invalid-feedback">
                                <div *ngIf="f['localidad'].errors">Nombre es requerido</div>
                            </div>
                        </div>
                        <input type="hidden" name="cat" class="form-control" [value]="cat" id="cat">
                    </div>

                    <div class="modal-footer mt-4">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onReset()">Close</button>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>