.cute{
    color: #26094B !important;
}

.active{
    text-decoration: underline;
}

.dropdown-toggle.show .dropdown-menu {
    display: block;
}

.dropdown-item:active, .dropdown-item.active {
    background-color:#F8F9FA !important;
}

.noLeida{
  background-color:#e2cbf0!important;
  color: black;
  animation-name: fade-in;
  transition: background-color 0.4s ease-in-out; 
}

.custom-dropdown-menu{
    max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
    overflow-y: auto;
}

.custom-dp-item{
    white-space: normal; /* Permite que las palabras largas se dividan y el texto fluya automáticamente */
    display: block; /* Hace que los elementos de la lista fluyan uno debajo del otro */
    padding: 10px; 
}