.cute{
    color: #26094B !important;
}

.active{
    text-decoration: underline;
}

.dropdown-toggle.show .dropdown-menu {
    display: block;
}

.dropdown-item:active, .dropdown-item.active {
    background-color:#F8F9FA !important;
}

.noLeida{
  background-color:#e2cbf0!important;
  color: black;
  animation-name: fade-in;
  transition: background-color 0.4s ease-in-out; 
}