<app-header></app-header>
<div class="container-lg w-75 my-5 color1 py-3 px-4 border rounded">
    <h5 class="py-3 text-center colorw">Crea una cuenta en Rescats</h5>
    <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" class="py-2">
        <div *ngIf="vistaActual==1">
            <app-persona-form formControlName="personaData"></app-persona-form>
            <div class="col-12 col-md-4 g-2 my-2 mx-auto mb-4">
                <button class="w-100 btn btn-lg btn-outline-secondary mt-4" type="button" 
                (click)="continuar()">Continuar</button>
            </div>
            <app-link-email-validation></app-link-email-validation>
        </div>
        
        <div *ngIf="vistaActual==2">
            <div class="row align-items-start g-2 px-md-5 justify-content-center">
                <div class="form-group col-10 col-md-6 px-5 mx-2">
                    <div class="form-floating">
                        <input type="text" formControlName="email" class="form-control" id="email"
                        [ngClass]="{'is-invalid':registerForm.get('email')?.errors && registerForm.get('email')?.touched}">
                        <label for="email">Email *</label>
                        <app-error-validation [field]="'email'" [form]="registerForm"></app-error-validation>
                    </div>
                </div>
                <div class="form-group col-10 col-md-6 px-5 mx-2">
                    <div class="form-floating">
                        <input type="password" formControlName="contraseña" class="form-control" id="contraseña"
                        [ngClass]="{'is-invalid':registerForm.get('password')?.errors && registerForm.get('password')?.touched}"
                        autocomplete="new-password">
                        <label for="contraseña">Contraseña *</label>
                        <app-error-validation [field]="'contraseña'" [form]="registerForm"></app-error-validation>
                    </div>
                </div>
                <div class="form-group col-10 col-md-6 px-5 mx-2">
                    <div class="form-floating">
                        <input type="password" formControlName="contraseñaConfirmada" class="form-control" id="contraseñaConfirmada"
                        [ngClass]="{'is-invalid':registerForm.get('contraseñaConfirmada')?.errors && registerForm.get('contraseñaConfirmada')?.touched}"
                        autocomplete="new-password">
                        <label for="contraseñaConfirmada">Confirme contraseña *</label>
                        <app-error-validation [field]="'contraseñaConfirmada'" [form]="registerForm"></app-error-validation>
                    </div>
                </div>
                <div *ngIf="registerForm.hasError('passwordMismatch') 
                && registerForm.get('contraseña')?.touched
                && registerForm.get('contraseñaConfirmada')?.touched">
                    <span class="text-danger text-center"> Las contraseñas no coinciden. </span>
                  </div>
                <div class="col-12 col-md-8 my-4 text-center">
                    <button class="btn btn-lg btn-outline-secondary mx-2" type="button" (click)="anteriorVista()">Volver</button>
                    <button class="btn btn-lg btn-outline-secondary mx-2" type="submit">Registrarme</button>
                </div>
            </div>
        </div>


    </form>

</div>

<app-footer></app-footer>