<div class="mx-5 mt-5">
  <h1 class="titulo1 mb-2 border-bottom border-secondary">
    Historial de transitos
  </h1>
<table class="table table-sm bg-transparent border rounded mx-auto" id="cute" 
*ngIf="transitos.length>0; else sinDatos">
    <thead>
      <tr>
        <th class="ps-3">Fecha de asociación</th>
        <th class="align-middle">Fecha Fin</th>
        <th class="align-middle">Transito</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asignacion of transitos">
        <td class="ps-3">        
          {{asignacion.fechaAsignacion | date:'dd/MM/yyyy'}}
        </td>
        <td>
          <span *ngIf="!asignacion.fechaFin">~</span>
          {{asignacion.fechaFin  | date:'dd/MM/yyyy'}}
        </td>
        <td>
          <app-detalle-persona [persona]="asignacion.transito"></app-detalle-persona>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #sinDatos>
    <app-no-data></app-no-data>
  </ng-template>
</div>
