<div class="container body">
    <div class="row justify-content-between">
    <div class="col" *ngFor="let cat of cats">
        <div class="card" style="background-color: #F8E0DB">
            <img class="img-fluid mx-auto mt-2 rounded" width="70%" [src]="(cat.fotos)[0]">
            <div class="card-body">
              <h3>{{cat.nombre}}</h3>
              <p class="card-text">{{cat.descripcion}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
    </div>
    </div>
</div>