<div class="modal fade modal-lg" id="advModal" aria-hidden="true" aria-labelledby="advModalLabel" tabindex="-1">

        <div class="modal-body">
        
            <p class="text-justify">Si adoptas a uno de nuestros gatos te lo entregaremos desparasitado tanto
                interna como externamente,
                y en algunos casos (cuando su edad lo permitan) con las vacunas correspondientes puestas y
                esterilizados. </p>
            <p class="text-justify">Así mismo se entregará la cartilla del animal, y un informe veterinario
                donde se indican todos los tratamientos en el caso de que hayan sido necesarios desde su recogida y
                entrada en GATSHAN.</p>

            <p>La persona que rellene el formulario debe ser mayor de edad.</p>

            <h5>Artículos básicos</h5>
            <p> Asegúrate de que tu nueva mascota tenga todos los elementos esenciales antes de llevarlo a casa.</p>
            <ul class="p-2 m-3">
                <li>Cama para tu gato</li>
                <li>Tazones de comida y agua</li>
                <li>Caja de arena con arena</li>
                <li>Rascador</li>
                <li>Caja transportadora</li>
            </ul>
            <p class="text-justify">El proceso de adopción comienza en el momento en que se rellena el siguiente
                formulario:</p>
        
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#adopcionModal" data-bs-toggle="modal">Siguiente</button>
        </div>
      </div>