<app-header></app-header>
<div class="container-lg">
    <div class="row mt-5 border-bottom border-secondary justify-content-between">
        <div class="col-11">
            <h1 class="titulo1 mb-0">
                {{nombreGatito}} 
            </h1>
        </div>
        <div class="col-1">
            <button class="btn btn-outline-secondary">Volver</button>
        </div>
    </div>
    <div class="row my-3 justify-content-between">
        <div class="col-12 col-lg-auto mb-3 mb-lg-0">
            <div class="input-group input-group">
                <span class="input-group-text" id="inputGroup-sizing-default">Transito</span>
                <input type="text" class="form-control" aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-default" disabled value="No posee">
            </div>
        </div>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
            <input type="search" class="form-control" placeholder="Buscar transito..." 
            aria-label="Search">
        </form>
    </div>
    <div class="row my-3 border-bottom border-secondary justify-content-between">
        Transitos existentes en Rescats
    </div>
    <app-tabla-transitos></app-tabla-transitos>
</div>
<app-footer></app-footer>
