<app-header></app-header>
<div class="container-md">
    <div class="row mt-5 border-bottom border-secondary">
        <div class="col-9 col-md-11">
            <h1 class="titulo1 mb-0">
                {{nombreGatito}} 
            </h1>
        </div>
        <div class="col-1">
            <button class="btn btn-outline-secondary">Volver</button>
        </div>
    </div>
    <div class="row my-3 justify-content-between">
        <div class="col-10 col-lg-auto mb-3 mb-lg-0">
            <div class="input-group input-group">
                <span class="input-group-text" id="inputGroup-sizing-default">Transito</span>
                <input type="text" class="form-control" aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-default" disabled
                [value]="transitoActual ? transitoActual.nombre+' '+transitoActual.apellido : 'No posee'">
            </div>
        </div>
        <form class="col-10 col-lg-auto mb-3 mb-lg-0" role="search">
            <input type="search" class="form-control" placeholder="Buscar transito..." 
            aria-label="Search" [(ngModel)]="filtroTransitos" name="transito">
        </form>
    </div>
    <div class="row my-3 border-bottom border-secondary justify-content-between px-2">
        Transitos existentes en Rescats
    </div>
    <app-tabla-transitos (asignarTransitoEvent)="asignarTransito($event)" [filterTransitos]="filtroTransitos">
    </app-tabla-transitos>
</div>
<app-footer></app-footer>