<div *ngIf="this.mostrarForm" class="color4 px-5 py-4 border rounded mt-3 w-75 mx-auto mb-5">
    <form [formGroup]="gatoForm" (ngSubmit)="gatoForm.valid && enviarGato()" enctype="multipart/form-data">
        <div class="row align-items-start">
            <div class="form-group col-12 col-md-6 my-1">
                <div class="form-floating">
                    <input type="text" formControlName="nombre" class="form-control" id="nombre"
                    [ngClass]="{'is-invalid':gatoForm.get('nombre')?.errors && gatoForm.get('nombre')?.touched}">
                    <label for="nombre">Nombre *</label>
                    <app-error-validation [field]="'nombre'" [form]="gatoForm"></app-error-validation>
                </div>
            </div>
            <div class="form-group col-12 col-md-6 my-1">
                <div class="input-group form-floating">
                    <input type="number" formControlName="edadnumero" class="form-control" id="edadnumero"
                    [ngClass]="{'is-invalid':gatoForm.get('edadnumero')?.errors && gatoForm.get('edadnumero')?.touched}">
                    <label for="edadnumero">Edad*</label>
                    <select class="form-select" formControlName="edadtexto" id="edadtexto"
                    [ngClass]="{'is-invalid':gatoForm.get('edadtexto')?.errors && gatoForm.get('edadtexto')?.touched}">
                        <option value="meses" selected>Meses</option>
                        <option value="años">Años</option>
                    </select>
                </div>
                <app-error-validation [field]="'edadnumero'" [form]="gatoForm"></app-error-validation>
                <app-error-validation [field]="'edadtexto'" [form]="gatoForm"></app-error-validation>
            </div>
        </div>
        <div class="row align-items-start">
            <div class="form-group col-12 col-md-6 my-1">
                <div class="form-floating">
                    <select class="form-select" formControlName="sexo" class="form-select" id="sexo"
                    [ngClass]="{'is-invalid':gatoForm.get('sexo')?.errors && gatoForm.get('sexo')?.touched}">
                        <option value="Macho">Macho</option>
                        <option value="Hembra">Hembra</option>
                    </select>
                    <label for="sexo">Sexo *</label>
                    <app-error-validation [field]="'sexo'" [form]="gatoForm"></app-error-validation>
                </div>
            </div>
            <div class="form-group col-12 col-md-6 my-1">
                <div class="form-floating">
                    <input type="number" formControlName="montoMensual" class="form-control" id="montoMensual"
                    [ngClass]="{'is-invalid':gatoForm.get('montoMensual')?.errors && gatoForm.get('montoMensual')?.touched}">
                    <label for="montoMensual">Cuota Mensual</label>
                    <app-error-validation [field]="'montoMensual'" [form]="gatoForm"></app-error-validation>
                </div>
            </div>
        </div>
        <div class="row align-items-start">
            <div class="form-group col-12 col-md-6 my-1">
                <div class="form-floating">
                    <input type="color" formControlName="color" class="form-select" id="color"
                    [ngClass]="{'is-invalid':gatoForm.get('color')?.errors && gatoForm.get('color')?.touched}">
                    <label for="color" id="lbl-color">Color *</label>
                    <app-error-validation [field]="'color'" [form]="gatoForm"></app-error-validation>
                </div>
            </div>
            <div class="form-group col-12 col-md-6 my-1">
                <div class="form-floating">
                    <select type="text" formControlName="tipoPelo" class="form-select" id="tipoPelo"
                    [ngClass]="{'is-invalid':gatoForm.get('tipoPelo')?.errors && gatoForm.get('tipoPelo')?.touched}">
                        <option value="Corto">Corto</option>
                        <option value="Largo">Largo</option>
                    </select>
                    <label for="tipoPelo">Tipo de Pelo *</label>
                    <app-error-validation [field]="'tipoPelo'" [form]="gatoForm"></app-error-validation>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12 col-md-6 my-1">
                <div class="form-floating">
                    <textarea type="text" formControlName="descripcion" class="form-control" id="descripcion"
                        style="height: 150px"
                        [ngClass]="{'is-invalid':gatoForm.get('descripcion')?.errors && gatoForm.get('descripcion')?.touched}">
                    </textarea>
                    <label for="descripcion">Descripcion *</label>
                    <app-error-validation [field]="'descripcion'" [form]="gatoForm"></app-error-validation>
                </div>
            </div>
            <div class="form-group col-12 col-md-6 my-1">
                <div class="form-control d-flex align-items-center" id="custominput"
                [ngClass]="{'is-invalid':gatoForm.get('files')?.errors && gatoForm.get('files')?.touched}">
                        <label class="btn btn-secondary" (click)="onInputChange()"
                        for="inputFile" role="button">Seleccionar
                        <i class="bi bi-images"></i>
                        </label>
                    <span class="ps-2" style="color:#6E7174">{{this.urls.length}} 
                        <span class="d-none d-sm-inline">archivos</span></span>
                    <input class="form-control py-3 d-none" type="file" #inputFiles
                    (change)="onFileChange($event)" id="inputFile" formControlName="files"
                    accept="image/png, image/jpeg, image/gif"
                    multiple>
                </div>
                <app-error-validation [field]="'files'" [form]="gatoForm"></app-error-validation>
                <div class="col-12 text-center my-1">
                    <div *ngFor="let url of urlsEdit;  let i = index" class="d-inline-block text-center px-2 ">
                        <img class="image-thumbnail border border-secondary rounded" style="max-width: 80px;" 
                        [src]="url">
                        <button class="btn btn-danger btn-sm ms-1" (click)="deleteEditFotos(i)">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </div>
                </div>
                <div *ngIf="urls.length > 0" class="col-12 text-center mt-1">
                        <div *ngFor="let url of urls;  let i = index" class="d-inline-block text-center px-2 ">
                            <img class="image-thumbnail border border-secondary rounded" style="max-width: 80px;" 
                            [src]="url">
                            <button class="btn btn-danger btn-sm ms-1" (click)="delete(i)">
                                <i class="bi bi-trash3"></i>
                            </button>
                        </div>
                </div>
            </div>
            
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-outline-secondary mx-2" type="button" 
            (click)="cancelar()">Cancelar</button>
            <button class="btn btn-secondary mx-2" [disabled]="!gatoForm.valid">Guardar
            </button>
        </div>
    </form>
</div>