<app-header></app-header>
<div class="container-sm">
    <div class="row mt-5 mb-4 border-bottom border-secondary">
        <div class="col-9 col-md-11">
            <h1 class="titulo1 mb-0">
                Mi perfil
            </h1>
        </div>
    </div>
    <div class="accordion accordion-flush" id="accordionExample">
        <div class="accordion-item" style="background-color:  transparent !important;">
            <h2 class="accordion-header">
              <button class="accordion-button border rounded border-0" type="button" 
              data-bs-toggle="collapse" data-bs-target="#collapseOne" 
              aria-expanded="true" aria-controls="collapseOne" 
              style="background-color:  #F5CDFF !important; border:0px !important;">
                <span class="fs-5 colorw">Mis voluntariados</span>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show border-0">
              <div class="accordion-body border-0">
                <div class="row mx-5 justify-content-center">
                    <div class="col-auto border rounded p-3 mx-3 color4 p-4 border-0" *ngIf="esTransito">
                        <h3 class="fs-5 mb-0"> <i class="bi bi-house-heart-fill"></i> Transito</h3>
                    </div>
                    <div class="col-auto border rounded p-3 mx-3 color4 p-4 border-0" *ngIf="esPadrino">
                        <h3 class="fs-5 mb-0"> <i class="bi bi-wallet2"></i> Padrino</h3>
                    </div>
                    <div class="col-auto border rounded p-3 mx-3 color4 p-4 border-0" *ngIf="esVoluntario">
                        <h3 class="fs-5 mb-0"> <i class="bi bi-star-fill"></i> Voluntario</h3>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="accordion-item" style="background-color: transparent !important;">
            <h2 class="accordion-header border-0">
              <button class="accordion-button collapsed border rounded border-0" type="button" 
              data-bs-toggle="collapse" data-bs-target="#collapseTwo" 
              aria-expanded="true" aria-controls="collapseTwo" 
              style="background-color: #F5CDFF !important;">
                    <span class="fs-5 colorw">Datos Personales</span>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse border-0">
              <div class="accordion-body border-0">
                <form [formGroup]="perfilForm" (ngSubmit)="perfilForm.valid && actualizar()" 
                class="py-2 mx-auto color4 border rounded border-0 w-75">
                    <app-persona-form formControlName="personaData"></app-persona-form>
                    <div class="col-4 g-2 my-2 mx-auto mb-4 text-center">
                        <button class="btn btn-lg btn-outline-secondary mt-4"
                        [disabled]="!perfilForm.valid">Guardar</button>
                    </div>   
                </form>
              </div>
            </div>
          </div>
    </div>
</div>
<app-footer></app-footer>