<app-header></app-header>
<div class="container-sm">
    <div class="row m-5 border-bottom border-secondary">
        <div class="col-9 col-md-11">
            <h1 class="titulo1 mb-0">
                Mi perfil
            </h1>
        </div>
    </div>

    
    <form [formGroup]="perfilForm" (ngSubmit)="perfilForm.valid && actualizar()" 
    class="py-2 mx-auto color1 border rounded">
        <app-persona-form formControlName="personaData"></app-persona-form>
        <div class="col-4 g-2 my-2 mx-auto mb-4 text-center">
            <button class="btn btn-lg btn-outline-secondary mt-4"
            [disabled]="!perfilForm.valid">Guardar</button>
        </div>   
    </form>
</div>
<app-footer></app-footer>