<div class="container-fluid" style="background-color:rgb(245, 205, 255)">
    <header class="d-flex flex-wrap justify-content-center mb-4 border-bottom">
        <a name="arriba" role="button" aria-current="page" id="ir-inicio" onclick="irInicio()"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none nav-link active">
            <img src="../../../assets/img/logo.png" width="40">

            <span class="nav-link p-1">
                <h4 class="mb-0">Gatshan</h4>
            </span>
        </a>

        <ul class="nav nav-pills py-2" id="menu">
            <li class="nav-item px-1"><a class="btn btn-secondary" role="button">Acerca de</a></li>
            <li class="nav-item px-1"><a class="btn btn-secondary" role="button">Formar Parte</a></li>
            <li class="nav-item px-1"><a class="btn btn-secondary" role="button">Noticias</a></li>
            <li class="nav-item px-1"><a class="btn btn-secondary" role="button">Acceder</a></li>
        </ul>
    </header>
</div>
