.container-lg{
    min-height: 60vh;
}

/* Personalizar la paginación */
.pagination .page-link {
    color:#16061a;
    background-color: transparent; 
    border-color: black 
}
  
.pagination .page-link:hover {
    background-color: rgb(218, 127, 218);
}
  
.pagination .page-item.active .page-link {
    background-color: rgb(218, 127, 218);
}