<app-header></app-header>
<div class="container-lg mx-auto">
    <app-titulo-page [titulo]="'Actualizacion de cuotas'"
    [link]="'/'"> </app-titulo-page>
    <div class="row m-5 align-items-center justify-content-between">
        <div class="col-10 col-sm-7 col-lg-3 mx-lg-0">
            <button class="btn btn-outline-dark" (click)="actualizarTodas()">
                Crear Cuotas Nuevas
            </button>
        </div>
        <div class="col-10 col-sm-7 col-md-6 col-lg-3 my-1 my-lg-0">
            <select class="form-select bg-transparent border-dark" aria-label=""
            (change)="onEstadoChange($event)">
                <option [value]="'all'" selected>Filtrar by estado</option>
                <option *ngFor="let estado of estados" 
                [value]="estado">
                <span *ngIf="estado=='APROBADO'">Pagado</span>
                <span *ngIf="estado=='DESCONOCIDO'">Desconocido</span>
                <span *ngIf="estado=='CANCELADO'">Anulado</span>
                <span *ngIf="estado=='PENDIENTE'">Pendiente</span>
                <span *ngIf="estado=='RECHAZADO'">Rechazado</span>
                </option>
            </select>
        </div>
        <div class="col-10 col-sm-7 col-md-6 col-lg-3 my-1 my-lg-0">
            <select class="form-select bg-transparent border-dark" aria-label=""
            (change)="onPadrinoChange($event)">
                <option selected [value]="'all'">Filtrar by padrinos</option>
                <option *ngFor="let padrino of padrinos" 
                [value]="padrino.dni">{{padrino.nombre}}~{{padrino.dni}}</option>
            </select>
        </div>
        <div class="col-10 col-sm-7 col-md-6 col-lg-3">
            <select class="form-select bg-transparent border-dark" aria-label=""
            (change)="onGatoChange($event)">
                <option [value]="'all'" selected>Filtrar by gatos</option>
                <option *ngFor="let gato of gatos" 
                [value]="gato.id">{{gato.nombre}}</option>
            </select>
        </div>
        
    </div>
    <app-tabla-padrinos-cuotas [cuotas]="cuotasFiltradas"></app-tabla-padrinos-cuotas>
</div>
<app-footer></app-footer>
