<table class="table table-sm bg-transparent rounded" id="cute">
  <thead>
    <tr>
      <th scope="col-auto" class="d-none d-lg-table-cell">Fecha de envío</th>
      <th scope="col-auto">Estado</th>
      <th scope="col-auto">Motivo</th>
      <th scope="col-auto">Solicitante</th>
      <th scope="col-auto" class="d-none d-md-table-cell">Adopto en Rescats?</th>
      <th scope="col-auto" class="d-none d-md-table-cell">Es voluntario?</th>
      <th scope="col-auto">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let solicitud of getDisplayedsolicitudes()">
      <td class="d-none d-lg-table-cell">
        {{ solicitud.estados[0].fecha | date:'dd/MM/YYYY'}}
      </td>
      <td>
        {{ solicitud.estados[solicitud.estados.length - 1].estado }}
      </td>
      <td>
        <button class="btn btn-outline-dark btn-sm" *ngIf="solicitud.estados[solicitud.estados.length - 1].motivo else fila"
        (click)="verMotivo(solicitud.estados[solicitud.estados.length - 1].motivo!)">VER</button>
      </td>
      <td>
        <app-detalle-persona [persona]="solicitud.solicitante"></app-detalle-persona>
      </td>
      <td class="d-none d-md-table-cell">
          <button class="btn btn-outline-dark btn-sm" (click)="adoptoAntes(solicitud.solicitante.dni)">
            Chequear <i class="bi bi-eye"></i>
          </button>
      </td>
      <td class="d-none d-md-table-cell">
        <button class="btn btn-outline-dark btn-sm" (click)="esVoluntario(solicitud.solicitante.dni)">
          Revisar <i class="bi bi-zoom-in"></i>
        </button>
      </td>
      <td *ngIf="solicitud.estados[solicitud.estados.length - 1].estado?.toString() === 'PENDIENTE'; else fila">
        <button class="btn btn-outline-dark mx-1" (click)="aceptar(solicitud.id)">
          <i class="bi bi-check-circle"></i>
        </button>
        <button class="btn btn-outline-dark mx-1" (click)="rechazar(solicitud.id)">
          <i class="bi bi-x-circle"></i>
        </button>
      </td>
      <ng-template #fila>
        <span class="ms-2">~</span>
      </ng-template>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-end">
  <app-pagination [currentPage]="currentPage"
  [totalPages]="totalPages"
  (pageChange)="setPage($event)"></app-pagination>
</div>