<table class="table table-sm bg-transparent rounded" id="cute">
  <thead>
    <tr>
      <th scope="col-1">Fecha de envío</th>
      <th scope="col-1">Estado</th>
      <th scope="col-1">Solicitante</th>
      <th scope="col-1" class="d-none d-lg-table-cell">Adopto en Rescats?</th>
      <th scope="col-1">Es voluntario?</th>
      <th scope="col-1">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let solicitud of solicitudes">
      <td>
        {{ solicitud.estados[0].fecha | date:'dd/MM/YYYY'}}
      </td>
      <td>
        {{ solicitud.estados[solicitud.estados.length - 1].estado }}
      </td>
      <td>
        <a role="button"
          class="colorw"
          (click)="verDetalles(solicitud.solicitante)">
          {{ solicitud.solicitante.nombre }}
        </a>
      </td>
      <td class="d-none d-lg-table-cell">
        No
      </td>
      <td>
        No
      </td>
      <button class="btn btn-secondary mx-1" (click)="aceptar(solicitud.id)">
        <span><small>Aceptar </small></span> <i class="bi bi-check-circle"></i>
      </button>
      <button class="btn btn-secondary mx-1" (click)="rechazar(solicitud.id)">
        <span><small>Rechazar </small></span> <i class="bi bi-x-circle"></i>
      </button>
    </tr>
  </tbody>
</table>