<table class="table table-sm bg-transparent rounded" id="cute">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Sexo</th>
      <th scope="col">Edad</th>
      <th scope="col">Ubicacion</th>
      <th scope="col">Adoptado</th>
      <th scope="col">Transito</th>
      <th scope="col">Monto Mensual</th>
      <th scope="col">Padrino</th>
      <th scope="col">Solicitudes</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let gato of gatos">
      <td>
        {{ gato.nombre }}
      </td>
      <td>
        {{ gato.sexo }}
      </td>
      <td>
        {{ gato.edad }}
      </td>
      <td>
        {{ gato.transito?.direccion || gato.voluntario?.localidad }}
      </td>
      <td>{{ gato.adoptado || "No" }}</td>
      <td>{{ gato.transito?.dni || "" }}
        <button class="btn btn-secondary btn-sm">Buscar</button>
      </td>
      <td>
        {{ gato.montoMensual }}
      </td>
      <td>
        {{ gato.padrino?.dni || "No posee" }}
      </td>
      <td>{{ gato.solicitudes.length==0? 'No posee' : gato.solicitudes.length }}
        <button *ngIf="gato.solicitudes.length>0" class="btn btn-secondary btn-sm">
          Ver {{gato.solicitudes.length}}
        </button>
      </td>
      <td>
        <a role="button" class="btn btn-secondary btn-sm"
        routerLinkActive="active" routerLink="backoffice/misgatos/{{gato.id}}">
          Editar
        </a>
      </td>
    </tr>
  </tbody>
</table>
