<table class="table table-sm bg-transparent rounded" id="cute">
  <thead>
    <tr>
      <th scope="col-1">Nombre</th>
      <th scope="col-1" class="d-none d-lg-table-cell">Sexo</th>
      <th scope="col-1" class="d-none d-md-table-cell">Edad</th>
      <th scope="col-2" class="d-none d-lg-table-cell">Ubicacion</th>
      <th scope="col-1">Adoptado</th>
      <th scope="col-1">Transito</th>
      <th scope="col-1" class="d-none d-lg-table-cell">Monto Mensual</th>
      <th scope="col-1">Padrino</th>
      <th scope="col-2">Solicitudes</th>
      <th scope="col-1">Ficha Vete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let gato of gatos">
      <td>        
        <a role="button" class="colorw"
        routerLinkActive="active" routerLink="{{gato.id}}">{{ gato.nombre }}
        <i class="bi bi-pencil-square"></i> 
        </a>
      </td>
      <td class="d-none d-lg-table-cell">
        {{ gato.sexo }}
      </td>
      <td class="d-none d-md-table-cell">
        {{ gato.edad }}
      </td>
      <td class="d-none d-lg-table-cell">
        <span *ngIf="!gato.adoptado">
          {{ gato.transito?.localidad || gato.voluntario?.localidad }}
        </span>
        <span *ngIf="gato.adoptado">
          Con adoptante <i class="bi bi-suit-heart"></i>
        </span>
      </td>
      <td>{{ gato.adoptado ? (gato.adoptado | date: 'dd/MM/yyyy') : 'No' }}</td>
      <td *ngIf="!gato.adoptado">
        <button class="btn btn-outline-dark btn-sm" routerLink="{{gato.id}}/transito"
        [state]="{ nombre: gato.nombre, transito:gato.transito}">
        {{ gato.transito? gato.transito.nombre  : 'Buscar'}}
        <i class="bi bi-search-heart"></i>
        </button>
      </td>
      <td *ngIf="gato.adoptado">
        <span *ngIf="gato.transito">
          <app-detalle-persona [persona]="gato.transito"></app-detalle-persona>
        </span>
        <span *ngIf="!gato.transito"> No tenia </span>
      </td>
      <td class="d-none d-lg-table-cell">
        $ {{ gato.montoMensual }}
      </td>
      <td>
        {{ gato.padrino?.dni || "No posee" }}
      </td>
      <td>{{ gato.solicitudes.length==0? 'No posee' : '' }}
        <button *ngIf="gato.solicitudes.length>0" class="btn btn-outline-dark btn-sm"
          routerLink="{{gato.id}}/solicitudes" [state]="{nombre: gato.nombre}">
          Ver {{gato.solicitudes.length}} 
        </button>
      </td>
      <td>
        <a role="button" class="btn btn-outline-dark btn-sm mx-1"
        routerLinkActive="active" routerLink="{{gato.id}}/ficha" [state]="{nombre: gato.nombre}">
        <i class="bi bi-clipboard2-heart"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
