<!--SOLICITUDES DE ADOPCION-->
<table class="table table-sm bg-transparent rounded" id="cute" *ngIf="solicitudes.length>0; else sinDatos">
    <thead>
      <tr>
        <th scope="col-auto">Gatito</th>
        <th scope="col-auto" class="d-none d-md-table-cell">Ubicacion</th>
        <th scope="col-auto">Estados</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let solicitud of solicitudes">
        <td>
          {{solicitud.gato.nombre}}
        </td>
        <td class="d-none d-md-table-cell">
          <span *ngIf="solicitud.gato.transito">{{solicitud.gato.transito.localidad}}</span>
          <span *ngIf="!solicitud.gato.transito">{{solicitud.gato.voluntario?.localidad}}</span>
        </td>
        <td>
           <app-tabla-estados [estados]="solicitud.estados"></app-tabla-estados>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #sinDatos>
    No existen datos para mostrar
  </ng-template>