<!--SOLICITUDES DE ADOPCION-->
<table class="table table-sm bg-transparent rounded" id="cute" *ngIf="solicitudes.length>0; else sinDatos">
    <thead>
      <tr>
        <th scope="col-auto">Gatito</th>
        <th scope="col-auto" class="d-none d-md-table-cell">Ubicacion</th>
        <th scope="col-auto">Estados</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let solicitud of solicitudes">
        <td>
          <a role="button" class="colorw"
          routerLinkActive="active"
          [routerLink]="['/gatos', solicitud.gato.id]"
          target="_blank">
          {{ solicitud.gato.nombre }}
          <img *ngIf="solicitud.gato.fotos" [src]="solicitud.gato.fotos[0]" 
          class="rounded-circle" 
          alt="gatito" style="width: 30px; height: 30px;">
          <img *ngIf="!solicitud.gato.fotos" src="../../../../assets/img/figura.png"
          class="rounded-circle" 
          alt="gatito" style="width: 30px; height: 30px;">
        </a>
        </td>
        <td class="d-none d-md-table-cell">
          <span *ngIf="!solicitud.gato.adoptado">
            <span *ngIf="solicitud.gato.transito">{{solicitud.gato.transito.localidad}}</span>
            <span *ngIf="!solicitud.gato.transito">{{solicitud.gato.voluntario?.localidad}}</span>
          </span>
          <span *ngIf="solicitud.gato.adoptado">
            Con adoptante <i class="bi bi-suit-heart"></i>
          </span>
        </td>
        <td>
           <app-tabla-estados [estados]="solicitud.estados"></app-tabla-estados>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #sinDatos>
    <app-no-data></app-no-data>
  </ng-template>