<table class="table table-sm bg-transparent rounded" id="cute" *ngIf="getDisplayedsolicitudes().length>0; else sinDatos">
    <thead>
      <tr>
        <th scope="col-auto" class="d-none d-lg-table-cell">Fecha de envío</th>
        <th scope="col-auto">Tipo</th>
        <th scope="col-auto">Estado</th>
        <th scope="col-auto">Motivo</th>
        <th scope="col-auto">Solicitante</th>
        <th scope="col-auto" class="d-none d-md-table-cell">Es adoptante?</th>
        <th scope="col-auto" class="d-none d-md-table-cell">Es voluntario?</th>
        <th scope="col-auto" class="d-none d-md-table-cell">Admin revisor</th>
        <th scope="col-auto">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let solicitud of getDisplayedsolicitudes()">
        <td class="d-none d-lg-table-cell ps-1">
          {{ solicitud.estados[0].fecha | date:'dd/MM/YYYY'}}
        </td>
        <td>
          <span *ngIf="solicitud.voluntariado=='TRANSITO'">
            <i class="bi bi-house-heart-fill colorw"></i> Transito</span>
          <span *ngIf="solicitud.voluntariado=='VOLUNTARIO'">
            <img src="../../../../assets/img/iconv.svg" alt="icon" 
              height="20px" class="mb-1"> Voluntario
          </span>
        </td>
        <td>
          {{ solicitud.estados[solicitud.estados.length - 1].estado }}
        </td>
        <td>
          <button class="btn btn-outline-dark btn-sm" *ngIf="solicitud.estados[solicitud.estados.length - 1].motivo else fila;"
          (click)="verMotivo(solicitud.estados[solicitud.estados.length - 1].motivo!)">VER</button>
        </td>
        <td>
          <app-detalle-persona [persona]="solicitud.aspirante"></app-detalle-persona>
        </td>
        <td class="d-none d-md-table-cell">
            <button class="btn btn-outline-dark btn-sm" (click)="adoptoAntes(solicitud.aspirante.dni)">
              Chequear <i class="bi bi-eye"></i>
            </button>
        </td>
        <td class="d-none d-md-table-cell">
          <button class="btn btn-outline-dark btn-sm" (click)="esVoluntario(solicitud.aspirante.dni)">
            Revisar <i class="bi bi-zoom-in"></i>
          </button>
        </td>
        <td class="d-none d-md-table-cell">
            <app-detalle-persona [persona]="solicitud.socio" *ngIf="solicitud.socio else fila"></app-detalle-persona>
        </td>
        <td *ngIf="solicitud.estados[solicitud.estados.length - 1].estado?.toString() === 'PENDIENTE'; else fila">
          <button class="btn btn-misuccess btn-sm rounded-circle mx-1" (click)="aceptar(solicitud.id)">
            <i class="bi bi-check-lg"></i>
          </button>
          <button class="btn btn-outline-secondary btn-sm rounded-circle mx-1" (click)="rechazar(solicitud.id)">
            <i class="bi bi-x-lg"></i>
          </button>
        </td>
        <ng-template #fila>
          <span class="ms-2">-</span>
        </ng-template>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-end">
    <app-pagination [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="setPage($event)"></app-pagination>
  </div>

  <ng-template #sinDatos>
    <app-no-data></app-no-data>
  </ng-template>