.card {
  min-height: 400px;
  transition: all 0.2s ease-in-out;
}

.card:hover{
  border:1px solid rgba(228, 27, 168, 0.2);
  box-shadow: 2px 3px 20px rgba(230, 13, 238, 0.2);
  transform: scale(1.04);
  cursor:pointer;
}

.adopted-text {
    position: absolute;
    top: 10px; /* Ajusta la distancia desde la parte superior según tus preferencias */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(90, 103, 218, 0.959); /* Fondo naranja con opacidad */
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
}
