<div class="color4 px-5 py-4 border rounded mt-5 w-75 mx-auto mb-5">
    <form [formGroup]="fichaForm" (ngSubmit)="fichaForm.valid && asociarFicha()" enctype="multipart/form-data">
        <div class="row align-items-start">
            <div class="form-group col-12 col-md-4 my-1">
                <div class="form-floating">
                    <input type="date" formControlName="ultimaDesparasitacion" class="form-control" id="ultimaDesparasitacion"
                    [ngClass]="{'is-invalid':fichaForm.get('ultimaDesparasitacion')?.errors && fichaForm.get('ultimaDesparasitacion')?.touched}">
                    <label for="ultimaDesparasitacion">Ultima Desparasitacion</label>
                    <app-error-validation [field]="'ultimaDesparasitacion'" [form]="fichaForm"></app-error-validation>
                </div>
            </div>
            <div class="form-group col-12 col-md-4 my-1">
                <div class="form-floating">
                    <input type="date" formControlName="ultimaTripleFelina" class="form-control" id="ultimaTripleFelina"
                    [ngClass]="{'is-invalid':fichaForm.get('ultimaTripleFelina')?.errors && fichaForm.get('ultimaTripleFelina')?.touched}">
                    <label for="ultimaTripleFelina">Ultima Triple Felina</label>
                    <app-error-validation [field]="'ultimaTripleFelina'" [form]="fichaForm"></app-error-validation>
                </div>
            </div>
            <div class="form-group col-12 col-md-4 my-1">
                <div class="form-floating">
                    <input type="date" formControlName="ultimaAntirrabica" class="form-control" id="ultimaAntirrabica"
                    [ngClass]="{'is-invalid':fichaForm.get('ultimaAntirrabica')?.errors && fichaForm.get('ultimaAntirrabica')?.touched}">
                    <label for="ultimaAntirrabica">Ultima Antirrabica</label>
                    <app-error-validation [field]="'ultimaAntirrabica'" [form]="fichaForm"></app-error-validation>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="form-group col-12 col-md-6 my-2">
                <div class="form-floating">
                    <textarea type="date" formControlName="comentarios" class="form-control" id="comentarios"
                    style="min-height: 120px;"
                    [ngClass]="{'is-invalid':fichaForm.get('comentarios')?.errors && fichaForm.get('comentarios')?.touched}">
                    </textarea>
                    <label for="comentarios">Comentarios</label>
                    <app-error-validation [field]="'comentarios'" [form]="fichaForm"></app-error-validation>
                </div>
            </div>
            <div class="form-group col-12 col-md-6 my-2">
                <div class="mb-3 px-3" *ngIf="!this.ficha?.pdf">
                    <label for="pdf" class="form-label">Puede adjuntar un documento en formato pdf:</label>
                    <input class="form-control" type="file" id="pdf" formControlName="pdf"
                    accept="application/pdf" (change)="onFileChange($event)">
                </div>
                <div class="mb-3 px-3" *ngIf="this.ficha?.pdf">
                    <button class="btn btn-outline-secondary mx-2" type="button" (click)="descargarPdf()">
                        <i class="bi bi-file-earmark-arrow-down"></i>
                        {{this.ficha.pdf.split('_')[1]}}
                    </button>
                    <button class="btn btn-outline-danger mx-2" (click)="eliminarPdf()">
                        <i class="bi bi-trash"></i>
                        Eliminar
                    </button>
                </div>
            </div>
        </div>
        <div class="text-center mt-4 mx-2">
            <a class="btn btn-light" routerLink="../../">
                Cancelar
            </a>
            <button class="btn btn-secondary mx-2" [disabled]="this.fichaForm.invalid">
                Enviar
            </button>
        </div>
    </form>
</div>
