<ul class="pagination">
    <li class="page-item">
      <a class="page-link" (click)="setPage(currentPage - 1)" aria-label="Previous" role="button">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item" *ngFor="let page of generatePagesArray()" 
    [ngClass]="{ 'active': page === currentPage }">
      <a class="page-link" (click)="setPage(page)" role="button">{{ page }}</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="setPage(currentPage + 1)" aria-label="Next" role="button">
        <span aria-hidden="true">&raquo;</span>
      </a>
  </li>
  </ul>