<button type="button" class="btn btn-outline-light btncute position-relative"
data-bs-toggle="dropdown" aria-expanded="false" #botonNoti>
    <i class="bi bi-bell-fill"></i>
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill color2"
    *ngIf="this.contadorNoLeidas>0">
        {{this.contadorNoLeidas}} </span>
</button>

<ul class="dropdown-menu color4 border-secondary custom-dropdown-menu"
*ngIf="this.notificaciones.length>0; else noNotificaciones">
<li *ngFor="let notificacion of notificaciones" class="border-bottom border-secondary custom-dp-item">
    <a class="dropdown-item py-2" [ngClass]="{'noLeida': !notificacion.leida}" 
    [routerLink]="'/'+notificacion.path">
        <div class="row">
            <div class="border-bottom">
                <span *ngIf="!notificacion.leida"><i class="bi bi-chat-right-heart"></i></span>
                <strong class="me-auto"> {{notificacion.fechaCreacion | date:'dd/MM/YY'}}</strong>
            </div>
            <span [innerHTML]="replacePointsWithBreak(notificacion.descripcion)"></span>
        </div>
    </a>
</li>
</ul>
<ng-template #noNotificaciones>
<ul class="dropdown-menu p-3 bg-warning-subtle text-emphasis-warning">
    No tienes notificaciones.
</ul>
</ng-template>