<button type="button" class="btn btn-outline-light btncute position-relative"
data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-bell-fill"></i>
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary"
    *ngIf="this.notificacionesNoLeidas.length>0">
        {{this.notificacionesNoLeidas.length}} </span>
</button>

<ul class="dropdown-menu bg-warning-subtle text-emphasis-warning" *ngIf="this.notificaciones.length>0">
  <li *ngFor="let notificacion of notificaciones" class="border-bottom py-2">
    <a class="dropdown-item">
      <div class="border-bottom border-secondary">
        <strong class="me-auto">{{notificacion.fechaCreacion | date:'dd/MM/YY'}}</strong>
      </div>
    <span>{{notificacion.descripcion}}</span>
  </a>
  </li>
</ul>
<ul class="dropdown-menu p-3 bg-warning-subtle text-emphasis-warning" *ngIf="this.notificaciones.length==0">
    No tienes notificaciones.
</ul>