body{
    background: linear-gradient(135deg, rgb(186, 153, 237) 0%, rgb(242, 215, 186) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

.color1 {color: #a478eb;}
.color2 {color: #f37fd1;}
.color3 {color: #ffb1ca;}
.color4 {color: #ffedda;}
.color5 {color: #ffffec;}
