body{
    background: linear-gradient(135deg, rgb(186, 153, 237) 0%, rgb(242, 215, 186) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

html{
    height: 100%;
}

*{
    font-family: 'Ubuntu',sans-serif;
}

/* Para fondo del menu y de tabla de gatos */
.color1 {background-color: #F5CDFF; }
/* Para icono de notificaciones */
.color2 {background-color: #260951 !important;}
/* Para fondo de formulario nuevo gato, */
.color4 {background-color: #ffedda;}
/* Para fondo de tabla y de dropdown*/
.color5 {background-color: #F8E0DB}

.colorw{
    color:#260951 !important;
}

.colornew{
    color:#DA7FDA !important;
}

.btncute{
    border: 1px solid #260951 !important;
    color: #260951 !important;
}

.btn-misuccess{
    border: 2px solid #DA7FDA !important;
    color: #DA7FDA !important;
}

.btn-misuccess:hover{
    color:#ffffff !important;
    background-color: #DA7FDA !important;
}

@font-face {
    font-family: 'somatic';
    src: url('assets/fonts/somatic-rounded-webfont.woff2') format('woff2'),
         url('assets/fonts/somatic-rounded-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.titulo1{
    font-family: 'somatic', sans-serif;
}