body{
    background-image:url(https://i.pinimg.com/564x/f4/04/a6/f404a6ff49800efe89c933ebf761a7b9.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
