<div class="card" style="background-color: #F8E0DB">
    <img class="img-fluid mx-auto mt-2 rounded" width="70%" [src]="(cat.srcFoto)[0]">
    <div class="card-body">
      <h3>{{cat.nombre}}</h3>
      <p class="card-text">{{cat.descripcion}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-outline-secondary" click="detail(cat)">Ver</button>
          <button type="button" class="btn btn-outline-secondary" click="edit(cat)">Editar</button>
        </div>
        <small class="text-muted"></small>
      </div>
    </div>
  </div>
