<table class="table table-sm bg-transparent rounded" id="cute" *ngIf="cuotas.length>0; else sinDatos">
    <thead>
      <tr>
        <th scope="col-1">Gato</th>
        <th scope="col-1" class="d-none d-md-table-cell">Adoptado</th>
        <th scope="col-1">Sigo apadrinando?</th>
        <th scope="col-1" class="d-none d-lg-table-cell">Monto</th>
        <th scope="col-1" class="d-none d-lg-table-cell">Fecha Creación</th>
        <th scope="col-2" class="d-none d-md-table-cell">Fecha Pago</th>
        <th scope="col-1">Estado</th>
        <th scope="col-1">Acción</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cuota of getDisplayedCuotas()">
        <td>        
          <a role="button" class="colorw"
          routerLinkActive="active" 
          routerLink="../../gatos/{{cuota.gato.id}}">
          <img *ngIf="cuota.gato.fotos" [src]="cuota.gato.fotos[0]" class="rounded-circle" 
          alt="gatito" style="width: 30px; height: 30px;">
          <img *ngIf="!cuota.gato.fotos" src="../../../../assets/img/figura.png" class="rounded-circle" 
          alt="gatito" style="width: 30px; height: 30px;">
          {{ cuota.gato.nombre }}
          </a>
        </td>
        <td class="d-none d-md-table-cell">
          {{cuota.gato.adoptado | date: 'dd/MM/yyyy'}}
          <span *ngIf="!cuota.gato.adoptado">Aun no</span>
        </td>
        <td>
          <span class="fs-6" *ngIf="cuota.padrino?.email==cuota.gato.padrino?.email; else not">
            Si <i class="bi bi-check-circle"></i>
          </span>
          <ng-template #not>
            <span class="fs-6" >
              No <i class="bi bi-x-circle"></i>
            </span>
          </ng-template>
        </td>
        <td class="d-none d-lg-table-cell">
          $ {{ cuota.montoMensual }}
        </td>
        <td class="d-none d-lg-table-cell">
          {{ cuota.fechaCreacion | date: 'dd/MM/yyyy' }}
        </td>
        <td class="d-none d-md-table-cell">
          <span *ngIf="cuota.fechaPago">
            {{ cuota.fechaPago | date: 'dd/MM/yyyy' }}
          </span>
          <span *ngIf="!cuota.fechaPago">
            -
          </span>
        </td>
        <td>
          <span *ngIf="cuota.estadoPago=='APROBADO'">Pagado</span>
          <span *ngIf="cuota.estadoPago=='CANCELADO'">Anulado</span>
          <span *ngIf="cuota.estadoPago=='PENDIENTE' || cuota.estadoPago=='DESCONOCIDO' 
          || cuota.estadoPago=='RECHAZADO'">
            {{ cuota.estadoPago.charAt(0).toLocaleUpperCase()+
            cuota.estadoPago.slice(1).toLocaleLowerCase() }}
          </span>
        </td>
        <td>
          <span *ngIf="cuota.estadoPago=='APROBADO' || cuota.estadoPago=='CANCELADO'">~</span>
          <span *ngIf="cuota.estadoPago=='PENDIENTE'">
            <button class="btn btn-outline-dark btn-sm mx-1" (click)="pagarPendiente(cuota.id)">
              Pagar <i class="bi bi-wallet2"></i>
            </button>
            <button class="btn btn-outline-dark btn-sm mx-1" (click)="renunciarApadrinamiento(cuota.gato)">
              Renunciar <i class="bi bi-escape"></i>
            </button>
          </span>
          <span *ngIf="cuota.estadoPago=='DESCONOCIDO' || cuota.estadoPago=='RECHAZADO'">
            <button class="btn btn-outline-dark btn-sm mx-1" (click)="pagar(cuota.preferencia_id)">
              Pagar <i class="bi bi-wallet2"></i>
            </button>
            <button class="btn btn-outline-dark btn-sm mx-1" (click)="renunciarApadrinamiento(cuota.gato)">
              Renunciar <i class="bi bi-escape"></i>
            </button>
          </span>
          
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-end">
    <app-pagination [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="setPage($event)"></app-pagination>
  </div>

  <ng-template #sinDatos>
    <app-no-data></app-no-data>
  </ng-template>
  