<table class="table table-sm bg-transparent rounded" id="cute">
  <thead>
    <tr>
      <th scope="col-1">Nombre</th>
      <th scope="col-1" class="d-none d-sm-table-cell">Apellido</th>
      <th scope="col-1" class="d-none d-sm-table-cell">Telefono</th>
      <th scope="col-1" class="d-none d-lg-table-cell">Localidad</th>
      <th scope="col-1">Gatos en transito</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transito of transitos  | filter: filterTransitos">
      <td>
        <app-detalle-persona [persona]="transito"></app-detalle-persona>
      </td>
      <td class="d-none d-sm-table-cell">
        {{ transito.apellido }}
      </td>
      <td class="d-none d-sm-table-cell">
        {{ transito.tel }}
      </td>
      <td class="d-none d-lg-table-cell">
        {{ transito.localidad }}
      </td>
      <td class="ps-3">
        {{transito.gatos.length}}
        <span *ngIf="transito.gatos.length>0">
          <button class="btn btn-outline-dark btn-sm" 
          (click)="verGatos(transito.nombre,transito.gatos)">
            <i class="bi bi-eye"></i>
          </button>
        </span>
      </td>
      <button class="btn btn-secondary btn-sm" 
      (click)="asignarTransito(transito.id, transito.nombre)">Asignar</button>
    </tr>
  </tbody>
</table>
