<table class="table table-sm bg-transparent rounded w-75 mx-auto" 
  id="cute" *ngIf="usuarios.length>0; else sinDatos">
    <thead>
      <tr>
        <th class="ps-3">Nombre</th>
        <th>Verificado</th>
        <th class="d-none d-lg-table-cell">Voluntariados</th>
        <th>Bloqueo/Desbloqueo</th>
        <th>Motivo</th>
        <th class="d-none d-lg-table-cell">Dar permisos Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usuarios">
        <td class="ps-2 pb-0">        
            <app-detalle-persona [persona]="user.persona"></app-detalle-persona>
        </td>
        <td>
          <span *ngIf="user.verificado" class="fs-3"><i class="bi bi-check-circle"></i></span>
          <span *ngIf="!user.verificado" class="fs-3"><i class="bi bi-stopwatch"></i></span>
        </td>
        <td class="d-none d-lg-table-cell">
          <button class="btn btn-outline-dark btn-sm" (click)="esVoluntario(user.persona.dni)">
            Revisar <i class="bi bi-zoom-in"></i>
          </button>
        </td>
        <td class="ms-5">
          <button class="btn btn-outline-danger mx-2 px-1 py-0 fs-4" *ngIf="user.habilitado"
          (click)="bloquear(user.id)">
            <i class="bi bi-person-x"></i>
          </button>
          <button class="btn btn-outline-success mx-2 px-1 py-0 fs-4" *ngIf="!user.habilitado"
          (click)="desbloquear(user.id)">
            <i class="bi bi-person-check"></i>
          </button>
        </td>
        <td>
          <button class="btn btn-outline-dark btn-sm" *ngIf="user.motivo else fila"
        (click)="verMotivo(user.motivo!)">VER</button>
        </td>
        <td class="d-none d-lg-table-cell ms-5">
          <button class="btn btn-outline-dark mx-2 px-1 py-0 fs-4" (click)="darRolAdmin(user.id)">
            <i class="bi bi-person-gear"></i>
          </button>
        </td>
        <ng-template #fila>
          ~
        </ng-template>
      </tr>
    </tbody>
  </table>
  <ng-template #sinDatos>
    <app-no-data></app-no-data>
  </ng-template>
  
